.test-constructor_header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name{
        display: flex;
    }

    .name_input{

    }

    .name_confirm{

    }

    .name_icon{

    }

    .controll{
        display: flex;
            
    }    
}

.test-constructor{

}