
.test-constructor_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    .name{
        display: flex;
    }

    .name_input{

    }

    .name_confirm{

    }

    .name_icon{

    }

    .controll{
        display: flex;
            
    }    

    .add-question {
        margin-right: 10px;
    }

    .end-test-create{
        background:#3ebd35;
    }

    .end-test-create:hover{
        opacity: 0.6;
        color: #ffff;
        transition: 0.3s;
    }
}

.test-constructor{
    margin-top: 40px;
}

.test-constructor__question{
    margin-bottom: 15px;
    margin-top: 15px;

    .question-mark{
        color: #fff;
        background: $siteOrange;
        border-radius: 100%;

        padding: 5px;
        margin-right: 10px;
        height: 25px;
        width: 31px;

        font-size: 12px;

        justify-content: center;
        display: flex;
        align-items: center;
    }

    .question__header{
        display: flex;
        align-items: center;
    }

    .question-input{
        width: 100%;
        height: 40px;
    }

    .question__controller{
        padding-left: 10px;
        display: flex;
    }

    .add-answer {
        margin-right: 6px;
    }

    .save-question{
        margin-right: 6px;
    }

    .delete-question{
        background: #ed300e;
    }

    .delete-question:hover {
        color: #fff;
        opacity: 0.6;
    }


    .question-input{
        padding-left: 10px;
        font-size: 16px;
    }
}

.answers__container{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

} 

.answers__container.hidden {
    height: 0px;
    max-height: 0px;
    opacity: 0;
    transition: 0.3s;
}

.answer-label{

    padding: 20px 15px;
    border-radius: 6px;

    box-shadow: 3px 3px 10px rgb(223, 220, 220);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 31%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .answer-label-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .answer__text{
        height: 79px;
        padding: 5px;
        width: 100%;
        resize: none;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .answer-checkbox-hidden{
        display: none;
    }

    .answer-label-title{
        margin-right: 10px;
        font-size: 15px;
    }

    .answer-checkbox{
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 2px solid #c5c5c5;
    }

    .answer-checkbox-hidden:checked + .answer-checkbox span{
        position: absolute;
        content: '';
        background: $siteOrange;
        width: 100%;
        height: 100%;
        

    }   


    .delete-question{
        font-size: 12px;
        padding: 3px;

        width: 50%;

    }

}