.btn{
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    background: $siteOrange;
    color: $siteWhite;
    border-radius: 6px;
    display: flex;
    
    padding: 9px 11px;
    letter-spacing: 0.03rem;

    border: 1px solid transparent;
    transition: 0.3s;
    justify-content: center;
    font-weight: 500;
    width: max-content;
    box-shadow: 3px 3px 10px rgb(223, 220, 220);
    
}

.btn[disabled="false"] {
    opacity: 0.6;
    pointer-events:none;
}



.btn:hover {
    transition: 0.3s;
    background: $siteGray;
    color: $siteOrange;
    border: 1px solid $siteOrange;
}


// показать
.show-btn{
    margin-right: 6px;
}
.show-btn.active {
    border: 1px solid $siteOrange;
}

// Удалить
.delete-btn{
    background: $siteRed;
}
.delete-btn:hover {
    color: $siteRed; 
    border-color: $siteRed;
}
// закончить создание/сохранить
.end-create-btn{
    background: $siteGreen;
}
.end-create-btn:hover{
    color: $siteGreen;
    border-color: $siteGreen;
    transition: 0.3s;
}







.test-constructor_header{
    .add-question {
        margin-right: 10px;
    }

}
.test-constructor__question{
    .add-answer {
        margin-right: 6px;
    }
    .btn{
        font-size: 14px;
    }    
}