$siteOrange : #eba100;
$siteWhite : #ffffff;
$siteGray : #e5e5e5;
$siteRed : #d62b0d;
$siteGreen : #38ac30;

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}



.title{

}

.cite-crumbs{
    margin-top: 25px;
    margin-bottom: 12px;
}

